<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
		<title>购物车</title>
		<!--css类引用-->
		<link rel="stylesheet" type="text/css" href="css/layui.css" />
		<link rel="stylesheet" type="text/css" href="css/shopcart.css" />
		<link rel="stylesheet" type="text/css" href="css/ShoppingCart.css" />
	</head>
	<body>
	<!--导航栏-->

	<div class="head">
		<div id="logo">
			<img src="img/logo1.jpg">
		</div>
		<div class="dropdown">
			<a href="index.html"><button class="dropbtn">首页</button></a>
		</div>
		<div class="dropdown">
			<a href="xunlian.html"><button class="dropbtn">训练</button></a>
            <div class="dropdown-content">	
			    <div class="a">
            		<p>所有计划</p>
            		<div></div>
				    <a href="#">查看所有培训文章</a>
				    <a href="#">查看所有训练计划</a>
				    <a href="#">训练数据库</a>
				    <a href="#">目前的挑战</a>
			    </div>
			    <div class="a">
            		<p>训练目标</p>
            		<div></div>
				    <a href="#">增肌</a>
				    <a href="#">减脂</a>
				    <a href="#">健康</a>
				    <a href="#">功能性训练</a>
				    <a href="#">其它</a>
			    </div>
			    <div class="a">
            		<p>训练肌群</p>
            		<div></div>
				    <a href="#">整体</a>
				    <a href="#">胸部</a>
				    <a href="#">背部</a>
				    <a href="#">腿部</a>
				    <a href="#">肩部</a>
				    <a href="#">腰腹肌</a>
				    <a href="#">肱二/肱三</a>
			    </div>
            </div>
		</div>
		<div class="dropdown">
			<a href="#"><button class="dropbtn">商店</button></a>
            <div class="dropdown-content">
            	<div class="a">
            		<p>器械</p>
            		<div></div>
				    <a href="#">杠铃/哑铃</a>
				    <a href="#">复合器械</a>
				    <a href="#">跑步机</a>
				    <a href="#">护具</a>
				    <a href="#">其它</a>
			    </div>
			    <div class="a">
            		<p>补剂</p>
            		<div></div>
				    <a href="#">蛋白粉</a>
				    <a href="#">氨基酸</a>
				    <a href="#">氮泵</a>
				    <a href="#">维生素</a>
				    <a href="#">其它</a>
			    </div>
			    <div class="a">
            		<p>课程</p>
            		<div></div>
				    <a href="#">私教课</a>
				    <a href="#">训练班</a>
				    <a href="#">其它</a>
			    </div>
            </div>
		</div>
		<div class="dropdown">
			<a href="#"><button class="dropbtn">论坛</button></a>
		</div>
		<div id="cart">
			<a href="shopcart.html"><img src="img/cart.png"></a>
		</div>
		<div id="user">
			<a href="#"><img src="img/user.png"></a>
		</div>
	</div>

		<!--主要内容-->
		<div class="row " id="myVue" v-cloak>
			<div class="col-lg-10 col-lg-offset-1" >
				<div class="layui-form">
					<table class="ShopCartTable layui-table">
						<thead>
							<tr>
								<th class="selectLeft">
									<template>
									    <el-checkbox  @change="checkedAllBtn(checkedAll)" v-model="checkedAll">全选</el-checkbox>
									</template>
									<span class="selectLeftGoods">商品或服务名称</span>
								</th>
								<th>单价</th>
								<th>数量</th>
								<th>小计</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(tabledatas,index) in shopTableDatas">
								<td  class="selectLeft">
									<template>
									    <el-checkbox @change="checkedRadioBtn(tabledatas)" v-model="tabledatas.checked"></el-checkbox>
									</template>
									<span class="goodName">
										<img class="goodImg" :src="tabledatas.src" />
									</span>
									<span class="goodName goodsName">
										<h2 class="goodname" v-text="tabledatas.name"></h2>
										<p class="goodGary">
											<span>供应商：</span>
											<span v-text="tabledatas.supplier"></span>
										</p>
										<p class="goodGary">
											<span>发货地：</span>
											<span v-text="tabledatas.ConPlace"></span>
										</p>
									</span>
								</td>
								<td class="danPrice">{{tabledatas.price | moneyFiler}}</td>
								<td>
									<i @click="goodNum(tabledatas,-1)" class="fa  deleteBtn" aria-hidden="true">-</i>
									<input v-model="tabledatas.num" type="text" class="form-control numInput" aria-label="...">
									<i @click="goodNum(tabledatas,1)" class="fa  addBtn" aria-hidden="true">+</i>
								</td>
								<td>
									<p class="totalPrice">{{tabledatas.price*tabledatas.num | moneyFiler}}</p>
								</td>
								<td class="gongneng">
									<p class="deletegoods" @click="alertRadio(index)">删除</p>
									<p @click="alertmovesSavegoods(index)">移到我的收藏</p>
									<template v-if="tabledatas.saveandremove">
										<p @click="tabledatas.saveandremove = false">加入收藏</p>
									</template>
									<template v-else>
										<p :class="{'saveCheck':!tabledatas.saveandremove}" @click="tabledatas.saveandremove = true">取消收藏</p>
									</template>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="row tablefooter">
						<template>
							<el-checkbox style="padding-left:16px" @change="checkedAllBtn(checkedAll)" v-model="checkedAll">全选</el-checkbox>
						</template>
						<span class="removeMuch" @click="alertMuch">删除选中的商品或服务</span>
						<span class="removeSaves" @click="alertMuchgoods">移到我的收藏</span>
						<span class="servicenum">已选择<span class="goodsNum">{{goodsNum}}</span>件商品<span class="goodsNum">{{serviceNum}}</span>项服务</span>
						<span class="totalclassPoin">总价：<span class="totalMoneyClass">{{totalMoney | moneyFiler}}</span></span>
						<span @click="saveData" class="SettlementBtn">去结算</span>
					</div>
				</div>
			</div>
		</div>
		<!--底部-->

		<div class="footer">
			<div class="footer-pic"><a href="#"><img src="img/logo1.jpg"></a></div>
			<div class="footer-w">
				<div id="footer-w1">
					<a href="#">工作机会</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">关于</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">支持</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">媒体中心</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">API</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">安全中心</a>
				</div>
				<div id="footer-w2">
					<p>©2018健身联盟有限公司版权所有</p>
				</div>
				<div id="footer-w3">
					<a href="">隐私</a>&nbsp;|&nbsp;<a href="#">法律条款</a>
				</div>
				<div id="footer-w4">
					冀网文[2017]0000-000号&nbsp;|&nbsp;互联网违法和不良信息举报电话：0000-00000000<br>冀公网安备：00000000000000&nbsp;|&nbsp;客服电话：0000-00000000<br>河北省石家庄市南二环东路20号<br><br>在开始任何饮食或运动计划或服用任何膳食补充剂之前，务必咨询合格的医疗保健专业人员。我们网站上的内容仅用于信息和教育目的，并非作为医疗建议或替代与合格医疗保健专业人员的关系
				</div>
			</div>
		</div>
		<!--js类引用-->
		<script type="text/javascript" src="js/vue.min.js" ></script>
		<script type="text/javascript" src="js/index.js" ></script>
		<script type="text/javascript" src="js/ShoppingCart.js" ></script>
	</body>

</html>